<p class="notice"><%= notice %></p>

<h1>Dogs</h1>

  <table class= "table table-striped table-hover">
    <thead>
      <tr>
        <th>Name:</th><br>
        <th>Breed:</th><br>
        <th>Age:</th><br>
      </tr>
    </thead>

    <tbody>
      <% @dogs.each do |dog| %>
        <tr>
          <td><%= dog.name %></td>
          <td><%= dog.breed %></td>
          <td><%= dog.age %></td>
        </tr>
      <% end %>
    </tbody>
  </table>